a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

.navShow {
    background-image: url("https://s3-alpha-sig.figma.com/img/e680/a663/f06a93ab07eecf47822e521dc4b9cb7f?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZopfWOftMKvqGsZjJm7Mf4Cwbv3spUWdp7ImSoW6~X7olxpdhYy-O8GAb0iRUc-zWpnB0mUdrRjNIMNhZeubpEvgK6rsvZ5YCB56QrTHlAbmGGiFcwtPSLecVNk4xR6PZ5b1tfFe5RY0B43vsWfp268RU3-GMVbAuL7z3Ou5WPqdxPNdsYHnJvn1wZO-fGcU6AWcLzpLFyhR6zJNr78kLn3iOw0I1Tz~Ted~SGcP7nl8a9SHVXZ5-xiZjtsjmvBpC~aHxdB-knFnpbVnkJSVIniyHAOcFWjCdx59819zcNmuup0QWogmdNgm97Pci3opmZb5UrjAvK3JvIIBk5Zlpw__");
    background-position: center;
    background-size: cover;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 80px;

    .labelBox,
    label,
    #m {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 45px;
        color: white;

        .cir {
            font-size: 5px;
        }

        button {
            border: 3px solid white;
            color: white;
            border-radius: 6px;
            padding: 13px 25px;
            background-color: transparent;
            transition: 0.2s;
        }
    }
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 169px 80px;
    color: white;

    h1 {
        font-size: 70px;
    }

    button {
        background-color: #5AB963;
        color: white;
        border-radius: 5px;
        padding: 20px 40px;
        border: none;
        font-size: 18px;
    }
}

.midText {
    text-align: left;
    color: grey;
    font-weight: 100;
    padding: 100px 80px;
    line-height: 40px;

    span {
        color: black;
        font-weight: 600;
    }
}

.foods {
    display: flex;
    align-items: start;
    gap: 25px;
    margin-bottom: 20px;
    padding: 40px 80px;

    .food {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 25px;
        padding: 60px 40px;
        border: 1px solid rgb(225, 225, 225);

        p {
            color: rgb(149, 149, 149);
            font-size: 14px;
            line-height: 25px;
        }
    }
}


@media (max-width: 1100px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;

        ul {
            display: flex;
            align-items: center;
            gap: 35px;
            color: white;

            .cir {
                font-size: 5px;
            }

            button {
                border: 3px solid white;
                color: white;
                border-radius: 6px;
                padding: 13px 25px;
                background-color: transparent;
                transition: 0.2s;
            }
        }
    }

    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 146.5px 20px;
        color: white;

        h1 {
            font-size: 70px;
        }

        button {
            background-color: #5AB963;
            color: white;
            border-radius: 5px;
            padding: 20px 40px;
            border: none;
            font-size: 18px;
        }
    }

    .midText {
        text-align: left;
        color: grey;
        font-weight: 100;
        padding: 80px 20px;
        line-height: 40px;

        span {
            color: black;
            font-weight: 600;
        }
    }

    .foods {
        display: flex;
        align-items: start;
        gap: 25px;
        margin-bottom: 10px;
        padding: 40px 20px;

        .food {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 25px;
            padding: 60px 40px;
            border: 1px solid rgb(225, 225, 225);

            p {
                color: rgb(149, 149, 149);
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
}

@media (max-width: 815px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;

        .labelBox,
        label {
            display: block;
        }

        label {
            font-size: 25px;
            color: white;
        }

        #m:checked+ul {
            transform: translate(0);
        }

        ul {
            transition: 0.4s;
            transform: translate(100%);
            display: flex;
            align-items: center;
            gap: 35px;
            color: white;
            background-color: black;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            font-size: 35px;
            padding: 10px 20px;

            .labelBox {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                margin-bottom: 80px;
            }

            .cir {
                display: none;
            }

            .sign {
                display: none;
            }

            button {
                border: 3px solid white;
                color: white;
                border-radius: 6px;
                padding: 10px 20px;
                background-color: transparent;
                transition: 0.2s;
            }

            .btn1 {
                display: none;
            }
        }
    }

    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 166.5px 20px;
        color: white;

        h1 {
            font-size: 50px;
            text-align: center;
        }

        p {
            text-align: center;
        }

        button {
            background-color: #5AB963;
            color: white;
            border-radius: 5px;
            padding: 20px 40px;
            border: none;
            font-size: 18px;
        }
    }

    .midText {
        text-align: center;
        color: grey;
        font-weight: 100;
        padding: 70px 20px;
        line-height: 40px;

        span {
            color: black;
            font-weight: 600;
        }
    }

    .foods {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        gap: 15px;
        margin-bottom: 10px;
        padding: 40px 20px;

        .food {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 25px;
            padding: 60px 40px;
            border: 1px solid rgb(225, 225, 225);

            p {
                color: rgb(149, 149, 149);
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
}

@media (max-width: 530px) {
    .foods {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: start;
        gap: 15px;
        margin-bottom: 10px;
        padding: 40px 20px;

        .food {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            padding: 40px 20px;
            border: 1px solid rgb(225, 225, 225);

            p {
                color: rgb(149, 149, 149);
                font-size: 14px;
                line-height: 25px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 400px) {
    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 177px 20px;
        color: white;

        h1 {
            font-size: 30px;
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 13px;
        }

        button {
            background-color: #5AB963;
            color: white;
            border-radius: 5px;
            padding: 15px 40px;
            width: 85%;
            border: none;
            font-size: 18px;
        }
    }

    .midText {
        text-align: center;
        color: grey;
        font-weight: 100;
        padding: 60px 20px;
        line-height: 30px;
        font-size: 20px;

        span {
            color: black;
            font-weight: 600;
        }
    }
}